/* 占满全部空间 */
html, body {
	background: transparent;
	/*background: blue;*/
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* 隐藏滚动条 */
body::-webkit-scrollbar {
	display: none;
}

/*应用顶层div样式*/
#app {
	font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: transparent;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*@font-face {*/
/*  font-family: 'Roboto';*/
/*  src: url('/assets/fonts/roboto/roboto-v18-latin-regular.ttf');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/

.block {
	@apply p-4 bg-gray-50 bg-opacity-40 shadow-md rounded-lg;
	border: 1px solid rgba(217, 217, 217, 0.4);
	box-sizing: border-box;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.drag {
	-webkit-app-region: drag;
	-webkit-user-select: none;
    user-select: none;
}

.no-select {
	-webkit-user-select: none;
    user-select: none;
}

.enter-active {
	@apply transition duration-300 ease-in-out;
}

.enter-from {
	@apply opacity-0 transform origin-top -translate-y-6 -translate-x-1;
	--tw-scale-x: 1.02;
	--tw-scale-y: 1.02;
}

.enter-to {
	@apply opacity-100;
}

.enter-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/*Loading的转场动画*/
.loading-enter-active {
    @apply transition duration-700 ease-out ;
}

.loading-enter-from {
    @apply opacity-0 transform origin-top -translate-y-4;
    --tw-scale-x: 0;
    --tw-scale-y: 0;
}
